@charset "utf-8";
/* Reset */
html{color:#000;background:#fff;}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
  /* 要注意表单元素并不继续父级 font 的问题 */
body,button,input,select,textarea{font-size:12px/1.5;}
input,select,textarea{font-size:100%;}
  /* 去掉各Table  cell 的边距并让其边重合 */
table{border-collapse:collapse;border-spacing:0;}
  /* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
/* 去除默认边框 */
fieldset,img,a img{border:0;}
  /* 去掉列表前的标识, li 会继承 */
ol,ul {list-style:none;}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th{text-align:left;}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
/* 清理浮动 */
.clearfloat:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}


body{
color: #444;
font-size: 16px;
line-height: 1.8;
font-family: Georgia,Times,"Times New Roman",serif;
}
h1, h2, h3, h4, h5, p {
    margin: 10px 0;
    padding: 0;
}
h1 {
    font-size: 28px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    margin: 24px 0 6px;
    font-weight: bold;
}
h3 {
    font-size: 22px;
    font-weight: bold;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 18px;
}
a {
color: #3354AA;
text-decoration: none;
}
a:hover {
color: #444;
border-bottom: none;
}

pre, code, tt {
    font: 14px 'andale mono', 'lucida console', monospace; line-height: 1.5;
}
code { margin-bottom: 20px; }
pre, code {
display: block;
overflow-x: auto;
background: #f4f4f4;
padding: 5px 5px;
border: 1px solid #eee;
}
ul {
list-style: none;
margin: 0;
padding: 0;
}
p{
line-height: 25px;
}

blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

blockquote  { 
color: #666;
font-style: italic;
background: #F4F5F7;
border: 1px dashed #CCCCCC;
margin: 5px 0;
padding: 8px 12px 8px 36px;
}
p code{
  display: inline;
}
/* main */
.wrapper{
margin: 0 auto;
width: 1200px;
background: white;
}
.header{
padding: 20px;
}
.blog-title, .blog-title a{
font-weight: bold;
color:#666;
}
.blog-title .title{
margin-top: 10px;
height: 100px;
line-height: 100px;
font-size: 36px;
padding-left: 120px;
background: white url('http://pic.yupoo.com/ljhero/BXYutKpu/Dh0qp.png') no-repeat;
}
.navigator{
font-size: 16px;
height: 48px;
border-bottom: 1px dotted #CCC;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.nav-list li{
margin: 0;
line-height: 48px;
display: inline-block;
float: left;
}
.nav-list li:hover a{
color:black;
}
.nav-list li a{
padding: 0 30px;
text-decoration: none;
line-height: 48px;
border: 0;
color: #999;
display: -moz-inline-box;
display: inline-block;
}
.main{
padding: 20px;
position: relative;
zoom: 1;
padding-top: 0;
min-height: 400px;
height: auto !important;
height: 400px;
}
.content{
margin-left: 0;
margin-right: 340px;
background: white;
}

.side-bar{
position: absolute;
left: auto;
right: 0;
top: 0;
width: 320px;

}
.side-bar .box{
background: white;
border: 1px solid #E9E9E9;
font-size: 14px;
margin: 10px auto;
}
.side-bar .about-me h3{
padding: 7px 10px;
border-bottom: 1px dotted #CCC;
margin:0;
}
.about-me p{
padding: 10px;	
margin: 0;
}
.about-me p.link{
text-align: left;
border-top: 1px dotted #CCC;
}
.about-me p.link a{
margin-right: 7px;
}
/* post */
.post{
margin-bottom:10px;
}
.post img {
max-width: 650px;
display: block;
margin: 10px auto;
}
.post  ul,.post  ol{
margin-bottom: 20px;
margin-left: 25px;
}
.post ul li{
margin: 10px 0;
list-style: disc;
}
.post ol li{
margin-bottom: 10px;
list-style: circle;
}
.post-tages{
float: left;
}
.post-tages li{
float: left;
display: inline;
line-height: 25px;
padding: 10px;
}

.post-tages li a{
text-decoration: underline;
}
.post-date{
float: left;
width: 220px;
}
.pagination{
border-top: 1px dotted #D9D9D9;
}
.pagination .prev{
float: left;
}
.pagination .next{
float: right;
}