@charset "utf-8";
/* Reset */
body, img, a, div, span, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, 
fieldset, legend, button, textarea, th, td, tr, input {
margin: 0;
padding: 0;
}
body{
font-family: Georgia, "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, Sans;
font-size:15px;
}
a{
color:#36c;
text-decoration: none;
}
ul {
list-style: none;
margin: 0;
padding: 0;
}
p{
line-height: 28px;
padding-bottom: 14px;
}
/* main */
.wrapper{
margin: 0 auto;
width: 1200px;
background: white;
}
.header{
padding: 20px;
}
.blog-title, .blog-title a{
font-weight: bold;
color:#666;
}
.title{
margin-top: 10px;
height: 100px;
line-height: 100px;
font-size: 36px;
padding-left: 120px;
background: white url('http://images.cnblogs.com/cnblogs_com/libaoheng/305804/o_light2.png') no-repeat;
}
.navigator{
font-size: 16px;
height: 48px;
border-bottom: 1px dotted #CCC;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.nav-list li{
margin: 0;
line-height: 48px;
display: inline-block;
float: left;
}
.nav-list li:hover a{
color:black;
}
.nav-list li a{
padding: 0 30px;
text-decoration: none;
line-height: 48px;
border: 0;
color: #999;
display: -moz-inline-box;
display: inline-block;
}
.main{
padding: 20px;
position: relative;
zoom: 1;
padding-top: 0;
min-height: 400px;
height: auto !important;
height: 400px;
}
.content{
margin-left: 0;
margin-right: 340px;
background: white;
}
.side-bar{
position: absolute;
left: auto;
right: 0;
top: 0;
width: 320px;

}
.side-bar .box{
background: white;
border: 1px solid #E9E9E9;
font-size: 14px;
margin: 10px auto;
}
.side-bar .about-me h3{
padding: 7px 10px;
border-bottom: 1px dotted #CCC;
}
.about-me p{
padding: 10px;	
}
.about-me p.link{
text-align: left;
border-top: 1px dotted #CCC;
}
.about-me p.link a{
margin-right: 7px;
}
/* post */
.tag_box li{
display: inline-block;
float: left;
}
.tag_box li a{
padding: 0 2px;
text-decoration: underline;
}
.pagination .prev{
float: left;
}
.pagination .next{
float: right;
}